* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montseratt", sans-serif;
  overflow: auto;
}

.default {
  background-image: url("./assets/default.jpg");
  height: 100vh;
  transition: 0.4s ease-in-out;
}
.app {
  /*background-image: linear-gradient(
    to bottom,
    #749be0,
    #61a2de,
    #52a7da,
    #4aabd3,
    #4cafca
  );*/
  background-image: url("./assets/cold.jpg");
  background-size: cover;
  transition: 0.4s ease-in-out;
}

.app.warm {
  /*background-image: linear-gradient(
    to bottom,
    #dd7e35,
    #e18435,
    #e48a34,
    #e79034,
    #ea9634
  );*/
  background-image: url("./assets/warm.jpg");
  background-size: cover;
  transition: 0.4s ease-in-out;
}
main {
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 0 20px;
  margin-top: 5px;
}

.search-box .search-bar {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: #d6d6d6;
  border-radius: 5px;
  margin-top: -25px;
  margin-bottom: 0px;
  box-shadow: 0 5px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  transition: 0.4s ease;
  opacity: 0.85;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
  /*width: 100%;*/
}

.location-box .location {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 15px;
  color: #fff;
  font-size: 51px;
  font-weight: 900;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.extra_details {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.pic {
  height: 100px;
  width: auto;
  object-fit: cover;
  filter: brightness(120%);
  filter: contrast(180%);
}

.forecast {
  margin-top: 2.2em;
  background-color: rgba(255, 255, 255, 0.2);
  justify-content: left;
  position: relative;
  padding-top:  1em ;
  padding-bottom: 1em;
  align-items: center;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  height: 17em;
  bottom: 1em;
  
}

.day {
  background-color: #b8b8b8;
  margin: 1em;
  border: 0.1px solid #f0f0f0;
  border-radius: 0.4em;
  width: 12em;
  height: 15em;
  font-size: 0.9rem;
  padding: 0.5em;
  box-shadow: 1px 1px 1px #9e9e9e;
  color: black;
  text-align: center;
  transition: all 0.3s ease-in-out;
  filter: brightness(110%);
  filter: contrast(120%);
  opacity: 0.95;
  box-sizing: border-box;
}
.boxes {
  padding: 0.2em;
}
.day:hover {
  border: 0.5px solid #f0f0f0;
  box-shadow: 3px 3px 3px #9e9e9e;
  background-color: #757575;
  /*height: 15.15em;
  font-size: 0.925rem;*/
  transform: scale(1.08);
  color: #e0e0e0;
  box-shadow: 1px 1px 1px #c0daf2;
  opacity: 0.9;
}
.notfound {
  color: black;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-style: bold;
  height: 100px;
  font-weight: 750;
  transition: 0.4s ease;
  text-shadow: 1px 1px 1px;
}

.day img {
  height:8em;
  width: auto;
}


@media (max-device-width: 500px) {
  .body {
    overflow: auto;
  }
  .search-box {
    width: 100%;
    margin: 0 0 2em;
    margin-top: 3px;
  }
  .weather {
    font-size: 36px;
  }
  
  .forecast{
    flex-direction: row;
    align-items: flex-start;
  }

  .day{
    align-items: flex-start;
  }


  .boxes {
    padding: 0px;
  }
}
